:root {
  font-size: 62.5%;
  --LARCENY-FROM-VEHICLE: #e41a1c;
  --LARCENY-NON-VEHICLE: #377eb8;
  --ROBBERY-PEDESTRIAN: #4daf4a;
  --AUTO-THEFT: #984ea3;
  --AGG-ASSAULT: #ff7f00;
  --ROBBERY-COMMERCIAL: #ffd92f;
  --ROBBERY-RESIDENCE: #a65628;
  --BURGLARY-RESIDENCE: #f781bf;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#mapid {
  width: 100vw;
  height: 100vh;
  cursor: default;
  overflow: hidden;
}
#leaflet-overlay {
  position: relative;
}
g.leaflet-zoom-hide > circle {
  r: 6;
  opacity: 0.8;
  transition: 0.2s ease r;
  stroke: black;
  stroke-opacity: 0;
  stroke-width: 2;
}
g.leaflet-zoom-hide > .selected-dot {
  opacity: 1 !important;
  stroke-opacity: 1 !important;
  r: 8 !important;
}
div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 0.4rem;
  font: 1.4rem sans-serif;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid black;
  /* border-radius: 8px; */
  pointer-events: none;
  z-index: 999;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.tooltip p {
  padding: 0.1rem;
}
#key {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  z-index: 999;
  overflow: hidden;
  font-family: sans-serif;
  max-height: 3.5rem;
  box-shadow: 4px 4px 2px solid #666;
  transition: 0.3s ease all;
  border: 2px solid black;
}
#key h4 {
  /* grid-column-end: span 2; */
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
#key h5 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1.2rem;
}
.filterByDate {
  margin-top: 1.4rem;
  font-size: 1.4rem;
  cursor: pointer;
  display: block;
}
.dateSelector {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease all;
  font-size: 1.4rem;
}
.visible {
  max-height: 100vh;
}
.dateSelector input {
  /* display: inline-block; */
  font-size: 2rem;
  width: 70%;
  margin-top: 1rem;
}
.dateSelector label {
  float: left;
  text-align: right;
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  width: 20%;
  line-height: 2rem;
}

.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid black;
  position: relative;
  bottom: 0.2rem;
}
.caret-close {
  border-bottom: 0.5rem solid black;
  border-top: none;
}
.open {
  padding: 20px;
  max-height: 100vh !important;
  overflow: scroll;
}
input[type="checkbox"] + label {
  font-size: 1.4rem;
  cursor: pointer;
  display: block;
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 1px solid #333;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 0.7em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
.LARCENY-FROM-VEHICLE::before {
  background: var(--LARCENY-FROM-VEHICLE);
}
.LARCENY-NON-VEHICLE::before {
  background: var(--LARCENY-NON-VEHICLE);
}
.ROBBERY_PEDESTRIAN::before {
  background: var(--ROBBERY-PEDESTRIAN);
}
.AUTO-THEFT::before {
  background: var(--AUTO-THEFT);
}
.AGG-ASSAULT::before {
  background: var(--AGG-ASSAULT);
}
.ROBBERY-COMMERCIAL::before {
  background: var(--ROBBERY-COMMERCIAL);
}
.ROBBERY-RESIDENCE::before {
  background: var(--ROBBERY-RESIDENCE);
}
.BURGLARY-RESIDENCE::before {
  background: var(--BURGLARY-RESIDENCE);
}
input[type="checkbox"]:checked + label:before {
  color: #fff;
  content: "\2713";
  text-align: center;
}
input {
  cursor: pointer;
}

/* LEAFLET GEOSEARCH STYLES */
.leaflet-control-geosearch *,
.leaflet-control-geosearch *:before,
.leaflet-control-geosearch *:after {
  box-sizing: border-box;
}

/* leaflet button styling */
.leaflet-control-geosearch .leaflet-bar-part {
  border-radius: 4px;
  border-bottom: none;
}

.leaflet-control-geosearch a.leaflet-bar-part:before,
.leaflet-control-geosearch a.leaflet-bar-part:after {
  position: absolute;
  display: block;
  content: "";
}

/* magnifying glass */
.leaflet-control-geosearch a.leaflet-bar-part:before {
  top: 19px;
  left: 16px;
  width: 8px;
  border-top: 2px solid #555;
  transform: rotateZ(45deg);
}

.leaflet-control-geosearch a.leaflet-bar-part:after {
  top: 6px;
  left: 6px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid #555;
}

/* resets for pending and error icons */
.leaflet-control-geosearch.error a.leaflet-bar-part:before,
.leaflet-control-geosearch.pending a.leaflet-bar-part:before {
  display: none;
}

.leaflet-control-geosearch.pending a.leaflet-bar-part:after,
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  border-radius: 50%;
}

/* pending icon */
.leaflet-control-geosearch.pending a.leaflet-bar-part:after {
  content: "";
  border: 2px solid #555;
  border-top: 2px solid #f3f3f3;
  animation: spin 1s linear infinite;
}

/* error icon */
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  content: "!";
  line-height: initial;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

/* search form styling */
.leaflet-control-geosearch form {
  display: none;
  position: absolute;
  top: -2px;
  left: 28px;
  border-radius: 0 4px 4px 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  background-color: #fff;
  background-clip: padding-box;
  z-index: -1;
  height: auto;
  margin: 0;
  padding: 0 8px;
}

.leaflet-control-geosearch.active form {
  display: block;
}

.leaflet-control-geosearch form input {
  min-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  text-indent: 8px;
}

.leaflet-control-geosearch .results {
  background: #fff;
}

.leaflet-control-geosearch .results > * {
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid transparent;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaflet-control-geosearch .results.active {
  padding: 8px 0;
  border-top: 1px solid #c6c6c6;
}

.leaflet-control-geosearch .results > .active,
.leaflet-control-geosearch .results > :hover {
  background-color: #f8f8f8;
  border-color: #c6c6c6;
  cursor: pointer;
}

/* add missing border to form */
.leaflet-control-geosearch .results.active:after {
  content: "";
  display: block;
  width: 0;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -2px;
  bottom: -2px;
  top: 30px;
}

/* animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leaflet-top .leaflet-control-geosearch.bar,
.leaflet-bottom .leaflet-control-geosearch.bar {
  display: none;
}

.leaflet-control-geosearch.bar {
  position: relative;
  display: block;
  height: auto;
  width: 400px;
  margin: 10px auto 0;
  cursor: auto;
  z-index: 1000;
}

.leaflet-control-geosearch.bar form {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.leaflet-control-geosearch.bar form input {
  min-width: 100%;
  width: 100%;
}

.leaflet-control-geosearch.bar .results.active:after {
  opacity: 0.2;
}

.leaflet-right .leaflet-control-geosearch form {
  right: 28px;
  left: initial;
  border-radius: 4px 0 0 4px;
  border-left: inherit;
  border-right: none;
}

.leaflet-control-geosearch a.reset {
  color: black;
  position: absolute;
  line-height: 30px;
  padding: 0 8px;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
}

.leaflet-control-geosearch a.reset:hover {
  background: #f5f5f5;
}
