html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#mapid {
  width: 100vw;
  height: 100vh;
}
#leaflet-overlay {
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 0.5rem;
  font: 0.8rem sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 999;
}
