:root {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#mapid {
  width: 100vw;
  height: 100vh;
  cursor: default;
}
#leaflet-overlay {
  position: relative;
}
div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 0.4rem;
  font: 1.4rem sans-serif;
  background: ghostwhite;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 999;
}
.tooltip p {
  padding: 0.1rem;
}
#key {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 25px;
  background: rgba(248, 248, 255, 0.8);
  z-index: 999;
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 10px;
  align-items: center;
}
label {
  font-size: 1.4rem;
  cursor: pointer;
}
input {
  cursor: pointer;
}
